{{#if (eq @newsItem._internalModel.modelName 'biography')}}
    <div class="bio-image-wrap">
      {{#if @newsItem.field_image.url}}
       <img src={{@newsItem.field_image.url}} alt="currently vacant.">
      {{else}}
        <img src='../frontend/assets/images/notfound.gif' alt="currently vacant.">
       {{/if}}
    </div>
    <div class="bio-right-wrap">
      <LinkTo @route="news-room.biography.show"  @model={{@newsItem}}>
        <div  class="list-title-header"><span>{{@newsItem.field_biography_name}}</span>,<span>{{@newsItem.title}}</span></div>
      </LinkTo>


      {{!-- <h3>{{#link-to "news-room.biography.show" @model={{@newsItem}} }}{{@newsItem.title}}{{/link-to}}</h3> --}}
      {{!-- {{#let (concat  @newsItem._internalModel.modelName '/' (slice-space @newsItem.title)  '?RecordID=' @newsItem.id) as | archiveState|}}
      <div {{on "click" (fn this.loader1 @newsItem._internalModel.modelName )}} ><div  class="list-title-header"><span>{{@newsItem.field_biography_name}}</span>,<span>{{@newsItem.title}}</span></div></div>
       {{/let}} --}}
      <div class="bio-body">
        <p>
          {{#if @trimItemBody}}
            {{html-safe (trim-string @newsItem.body 300)}}...
          {{else}}
            {{html-safe @newsItem.body}}
          {{/if}}
        </p>
      </div>
    </div>
  {{else}}
  <p class="h3">
    {{#if @newsItem.field_date_to_be_published}}
    <small>{{moment-format @newsItem.field_date_to_be_published "ll"}}</small>
    {{else}}
    <small>{{moment-format @newsItem.field_date "ll"}}</small>
    {{/if}}
    <br>
  </p>
  {{#let (concat 'news-room''.' @newsItem._internalModel.modelName '.''show') as | archiveState|}}

     <LinkTo @route= {{archiveState}}  @model={{@newsItem}}>
        <div  class="list-title-header"><span>{{@newsItem.title}}</span></div>
    </LinkTo>
  {{/let}} 
  <div class="list-container {{if @isIndexPage "multi-media-video "}} menu-active">
     {{#if @newsItem.field_image}}
        <div class="list-img">
            <img src={{@newsItem.field_image.url}} alt="user info">
        </div>
      {{/if}}
      <div class="list-wrap-right mt-20 {{if @isIndexPage "multi-media-video mt-0"}}">
            {{#if @trimItemBody}}
              {{html-safe (trim-string @newsItem.body 300)}}...
            {{else}}
              {{html-safe @newsItem.body}}
            {{/if}}
      </div>
      
  </div>
  
{{/if}}
