{{log @newsItem._internalModel.modelName}}
{{#if (eq @newsItem._internalModel.modelName 'video')}}
  <News::detail
  @modelName = {{'video'}}
  @detailsViewItems = {{@model}}
  />
  {{else}}
  {{#if (eq @newsItem._internalModel.modelName 'biography')}}
    <div class="bio-image-wrap">
      {{#if @newsItem.field_image.url}}
       <img src={{@newsItem.field_image.url}} alt="currently vacant.">
      {{else}}
        <img src='../frontend/assets/images/notfound.gif' alt="currently vacant.">
       {{/if}}
    </div>
    <div class="bio-right-wrap">
      <LinkTo @route="news-room.biography.show"  @model={{@newsItem}}>
        <div  class="list-title-header"><span>{{@newsItem.field_biography_name}}</span>,<span>{{@newsItem.title}}</span></div>
      </LinkTo>
      <div class="bio-body">
        <p>
          {{#if @trimItemBody}}
            {{html-safe (trim-string @newsItem.body 300)}}
              <span>...<LinkTo @route="news-room.biography.show"  @model={{@newsItem}}>
                (<span  class="list-title-header read-more"><span>Read More →</span></span>)
              </LinkTo></span>
          {{else}}
            {{html-safe @newsItem.body}}
          {{/if}}
        </p>
      </div>
    </div>
  {{else}}
  <p class="h3">
    {{#if @newsItem.field_date_to_be_published}}
    <small>{{moment-format @newsItem.field_date_to_be_published "ll"}}</small>
    {{else}}
    <small>{{moment-format @newsItem.field_date "ll"}}</small>
    {{/if}}
    <br>
  </p>
  {{#let (concat 'news-room''.' @newsItem._internalModel.modelName '.''show') as | archiveState|}}
     <LinkTo @route= {{archiveState}}  @model={{@newsItem}}>
        <div  class="list-title-header"><span>{{@newsItem.title}}</span></div>
    </LinkTo>
  {{/let}} 
  <div class="list-container {{if @isIndexPage "multi-media-video "}} menu-active">
     {{#if @newsItem.field_image}}
        <div class="list-img">
            <img src={{@newsItem.field_image.url}} alt="user info">
        </div>
      {{/if}}
      <div class="list-wrap-right mt-20 {{if @isIndexPage "multi-media-video mt-0"}}">
            {{#if @trimItemBody}}
              {{html-safe (trim-string @newsItem.body 300)}}
                {{#let (concat 'news-room''.' @newsItem._internalModel.modelName '.''show') as | archiveState|}}
                  <span>... <LinkTo @route= {{archiveState}}  @model={{@newsItem}}>
                    (<span  class="list-title-header read-more"><span>Read More →</span></span>)
                  </LinkTo></span>
                {{/let}}
            {{else}}
              {{html-safe @newsItem.body}}
            {{/if}}
      </div>
      
  </div>
  
{{/if}}
{{/if}}

